---
import getOffre from '../../backend.js';
import Base from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Base titre={offre.nomMaison}>
    <h2>{offre.nomMaison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        ...
    </ul>
</Base>
