---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
---
 <Base titre="Accueil">
    <h1 class="text-2xl">Accueil</h1>
    <p class="text-slate-700">Bienvenue sur notre site!</p>
</Base>


