---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
---

<Base titre="Offres">
  <h1 class="text-2xl">Offres</h1>
  <p class="text-slate-700">Voici les offres:</p>
</Base>
